{% extends "base.html" %}
{% block title %}Signup Page{% endblock %}
{% block styleLink %}<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">{% endblock %}


{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <h3 id="flashMessage">{{ message }}</h3>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class = "containerWidth formContainer">
    <h1>Create Account</h1>
    <form id="signupForm" action="#" method="post" onsubmit="signupFormValidate(this)">
        <label>FIRST NAME</label><br>
        <input id="firstName" type="text" name="firstName" onblur = "validateFirstName()">
        <p class = "warning" id="invalidFirstName"></p>
        <label>SURNAME</label><br>
        <input id="surname" type="text" name="surname" onblur = "validateSurname()">
        <p class = "warning" id="invalidSurname"></p>
        <label>EMAIL</label><br>
        <input id="email" type="email" name="email" onblur = "validateEmail()">
        <p class = "warning" id="invalidEmail"></p>
        <label>PASSWORD</label><br>
        <input id="password" type="password" name="password" onblur = "validatePassword()">
        <label id="show" for="showPasswordCheckbox">SHOW</label>
        <input id="showPasswordCheckbox" type="checkbox" hidden onclick="showPassword()" value="">
    
        <p class = "warning" id="requiredPassword"></p>
        <p class = "warning" id="invalidPassword"></p>
        <button id="form" type="submit" value="submit" >Sign Up</button>
    </form>
    <div class="containerWidth loginLink">
        <p>Already have an account?</p>
        <a href="/login">Log In</a>
    </div>
</div>


<script src="{{url_for('static', filename='js/signup.js')}}"></script>
{% endblock %}
